<html>
	<head>
		<meta charset="UTF-8">
		<title>page get id</title>
		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
		<style>
			h1{ 
				color: #40007d;
			}
		</style>
	</head>
	<body>
		<img src="{$url_base}public/image/logo.jpg" class="resize" />
        <div class="nav navbar navbar-default navbar-fixed-top">
            <ul class="nav navbar-nav">
                <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                <li><a href="{$url_base}produit/liste">Produit</a></li>
                <li><a href="{$url_base}produit/getID/1">Entree</a></li>
                <li><a href="{$url_base}produit/liste">Sortie</a></li>
            </ul>
        </div>
		<div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
			<div class="panel panel-info">
				<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
				<div class="panel-body">
					<form method="post" action="{$url_base}Produit/update">
						<div class="form-group">
							<label class="control-label">ID du Produit</label>
							<input class="form-control" type="text" name="idP" id="idP" value="{if isset($produit)} {$produit['idP']} {/if}"/>
						</div>
						<div class="form-group">
							<label class="control-label">Libele</label>
							<input class="form-control" type="text" name="libP" id="libP" value="{if isset($produit)} {$produit['libP']} {/if}"/>
						</div>
						<div class="form-group">
							<label class="control-label">Quantite</label>
							<input class="form-control" type="text" name="qtStock" id="qtStock" value="{if isset($produit)} {$produit['qtStock']} {/if}"/>
						</div>
						<div class="form-group">
							<input class="btn btn-success" type="submit" name="modifier" value="Modifier"/>
							<a class="btn btn-primary" href="{$url_base}Produit/liste">Retour</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>